.cadre {
    color: rgb(194, 138, 64);
    text-align:center;
    font-family: verdana  ;
    background-color: rgb(19, 11, 31);
    width: 30%;
    margin-left: 33%;
    border-radius: 5px;
}
#temperature {
    font-size: 28px ;
    font: bold;
}
